.password-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: calc(100vh - 281px);
    width: 100%;
}

.password-form__container {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 30px;
    border-radius: 16px;
    border: 1px solid;
}

.password-form__label {
    font-family: var(--font-family);
    margin: 0 0 10px 10px;
}

.password-form__input-text .MuiOutlinedInput-notchedOutline {
    border-radius: 10px;
}

.password-form__helper-text, .password-form__input-text {
    font-family: var(--font-family) !important;
}

.password-form__strength {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    width: 100%;
}

.password-form__progress {
    width: 100%;
    height: 8px !important;
    border-radius: 4px;
    margin-top: 5px;
}

.password-form__progress-label {
    font-family: var(--font-family) !important;
    font-size: 14px;
    margin: 5px 0 0 10px;
    font-weight: 400;
}

.password-form__progress-label--error {
    color: #d32f2f;
}

.password-form__progress-label--warning {
    color: #ed6c02;
}

.password-form__progress-label--success {
    color: #2e7d32;
}

.password-form__button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.password-form__button {
    height: 50px;
    width: 100%;
    border-radius: 10px !important;
}
