.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 81px;
    padding: 40px;
    border-bottom: 1px solid;
}

.header__label{
    text-align: center;
    font-size: 32px !important;
    font-family: var(--font-family) !important;
    font-weight: 400;
}

.header__switch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}