.footer {
    display: flex;
    height: 80px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    position: relative;
    border-top: 1px solid;
}

.footer__github {
    display: flex;
    font-family: var(--font-family);
    font-weight: 500;
    text-decoration: none;
    padding-bottom: 3px;
    justify-content: center;
    color: inherit;
}

.footer__github-icon {
    margin-right: 3px;
    font-size: 20px !important;
    vertical-align: middle;
}

.footer__developer {
    font-family: var(--font-family);
    margin: 0;
    font-size: 12px;
    padding-top: 5px;
}